@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: $Light;
  font-family: "Work Sans", sans-serif;
  position: relative;
}
.image-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;

  img {
    width: 100%;
    height: 250px;
    max-width: 1440px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.container {
  width: 100%;
  max-width: 550px;
  background-color: $white;
  border-radius: 10px;
  padding: 1.8rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  top: 5rem;

  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.3rem;

    h2 {
      font-size: 48px;
      color: $Dark;
      font-weight: weight("bold");
    }

    img {
      height: 30px;
    }
  }

  .accordion-item {
    margin: 1rem 0 0 0;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);

    &:last-child {
      border-bottom: none;
    }

    .accordion-header {
      color: $Dark;
      font-weight: weight("semiBold");
      padding: 0.5rem 0 1.2rem 0rem;
      cursor: pointer;
      position: relative;

      &::after {
        content: "+";
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ad28eb;
        color: white;
        padding: 3px 8px;
        border-radius: 50%;
        font-size: 1.2rem;
        font-weight: 400;
      }
      &.active::after {
        content: "-";
        background-color: #333;
        padding: 3px 9px;
      }

      h3 {
        font-size: 17px;

        &:hover,
        :focus {
          color: #ad28eb;
        }
      }
    }

    .accordion-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    .accordion-body-content {
      font-size: $paragraph-font-size;
      color: $paragraph-color;
      font-weight: weight("regular");
    }
  }
}

@media only screen and (max-width: $mobile) {
  .container {
    width: 100%;
    max-width: 330px;
    padding: 1.8rem 1rem;
    top: 8rem;
  }
  .accordion-header {
    h3 {
      padding-right: 3.1rem;
    }
  }
}
