body {
  --main-color: orangered;
  --background-color: white;
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
}

body.dark {
  --main-color: #d0d066;
  --background-color: #333;
  --text-color: white;
}

.title {
  margin: 0;
  margin-bottom: 0.9rem;
  font-size: 2.7rem;
}

.theme-toggle-btn {
  background-color: var(--main-color);
  color: var(--button-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.7em 1.4em;
  border: none;
  border-radius: 0.3em;
  transition: var(--transition-delay);
  transform: 1;
}

.theme-toggle-btn:hover,
.theme-toggle-btn:focus {
  transform: scale(1.1);
}

.icon {
  padding-right: 0.4em;
}

.sun-moon-container {
  --rotation: 0;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  top: 0;
  height: 200vmin;
  transform: rotate(calc(var(--rotation) * 1deg));
  transition: transform var(--transition-delay);
}

.dark .sun-moon-container {
  --rotation: 180;
}

.sun,
.moon {
  position: absolute;
  transition: opacity, var(--transition-delay);
  color: var(--main-color);
}

.sun {
  top: 5%;
  opacity: 1;
  height: 50px;
}

ion-icon {
  font-size: 42px;
}

.dark .sun {
  opacity: 0;
}

.moon {
  bottom: 5%;
  opacity: 0;
  transform: rotate(180deg);
}

.dark .moon {
  opacity: 1;
}
